<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="mi-visor">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <div class="container">
      <div class="row">
        <img class="col-lg-8 col-xs-12" src="https://image.flaticon.com/icons/svg/265/265760.svg" alt="">
      </div>

      <div class="row">
        <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="incrementar" >Cargar datos</button>
        <input type="text" placeholder="[[prop3]]" name="" value="{{prop1::input}}" />
      </div>

      <div class="row">
        <table class="table table-striped col-lg-12 col-xs-12">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>[[prop3]]</td>
              <td>Mora</td>
            </tr>
            <tr>
              <td>[[prop2]]</td>
              <td>José Mario</td>
              <td>Rodríguez</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MiVisor extends Polymer.Element {
      static get is() { return 'mi-visor'; }
      static get properties() {
        return {
          prop1: {
            type: String
          },
          prop2: {
            type: Number,
            value: 999
          },
          prop3: {
            type: String,
            value: 'Indique su login'
          }
        };
      }

      incrementar() {
        this.prop2++;
        console.log(this.prop1);
        console.log(this.prop2);
      }
    }

    window.customElements.define(MiVisor.is, MiVisor);
  </script>
</dom-module>
